# Ignorar arquivos derivados e temporários
DerivedData/
build/

# Ignorar dados de usuário específicos do Xcode
*.xcuserstate
xcuserdata/

# Ignorar logs e outros arquivos temporários
*.log
*.xcworkspace/xcuserdata/

# Ignorar arquivos temporários de compilação
*.xcbpklplist

# Ignorar arquivos de Playground
timeline.xctimeline
playground.xcworkspace

# Ignorar arquivos de integração contínua (CI) temporários
*.ipa
*.app
